.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--nav-bar-color);
  position: sticky;
  top: 0;
  z-index: 100;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: var(--white-color);
  
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: var(--white-color);
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--hover-nav-color);
}

/* MOBILE STYLES */
@media screen and (max-width: 500px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    width: 100%;

    padding: 1rem;
  }
  .hamburger.show{
    background-color:var(--turquoise-color);
  }
  .nav-links.show {
    display: flex;
  }
}
