.project-images {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-width: 500px;
  margin: 0 auto;
}

.project-images-inner {
  display: flex;
  animation: slide 20s infinite linear;
  width: calc(500px * 3); 
}
.work-description{
 color: var(--description-words-color);
 margin-top: 1rem;
 margin-left: 2rem;
 margin-right: 2rem;
 margin-bottom: 2rem;

}
.project-images img {
  width: 500px;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 12px;
  margin-right: 10px;
}

@media only screen and (min-width: 730px) {
  .card-meta-rev{
    display: flex;
    flex-direction: row-reverse;
  }
  .card-meta{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  
}
@keyframes slide {
  0% { transform: translateX(0); }
  20% { transform: translateX(0); }
  25% { transform: translateX(-500px); }
  45% { transform: translateX(-500px); }
  50% { transform: translateX(-1000px); }
  70% { transform: translateX(-1000px); }
  75% { transform: translateX(-1500px); }
  95% { transform: translateX(-1500px); }
  100% { transform: translateX(0); }
}
/* ========== TECH STACK COLLAGE ========== */
.tech-stack-collage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin: 2rem;
}

.tech-badge {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 16px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.tech-badge:hover {
  transform: scale(1.05);
  background-color: #ececec;
}

.tech-badge-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-badge-label {
  font-weight: 600;
  font-size: 1.2em;
  margin-top: 10px;
}

.tech-badge-description {
  font-size: 0.9em;
  color: #555;
  margin-top: 5px;
}

