.stack{
  display: flex;
  font-size:2em;
  margin-bottom:13px;
  margin-top: 20px; 
}
.link-wrap{
  margin-left: 1rem;
}
.stack-item{
  margin: 1rem 1.25rem;
  display: flex;
  justify-content: center;
}
.javascript{
  color: yellow;
}
.react{
  color:#5ED2F3;
}
.ruby{
  flex-direction: row;
  color:red;
}
.projects{
  display:flex;
  flex-direction: column;
}
.single-project{
  display:flex;
  flex-direction:column;
}
.project-tittle{
  font-weight: bold;
  font-size:3.0em;
  color:var(--project-link-color);
  margin-top: 1rem;
  margin-left: 1rem;
}
.image-wrap{
  margin-bottom:1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.projects-image{
  width: 100%;
  border-radius: 10px;

}
.paragraph-descrition{
  max-width: var(--character-length);
  display: flex;
  font-size:1.5em;
  margin-bottom: 28px;
  margin-top: 5px;
  margin-left:2rem;
  margin-right: 2rem;
  line-height: 1.167;
  color:var(--description-words-color);
}
@media screen and (min-width: 838px){
  .image-description{
    display: flex;
  }
  .reverse{
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 546px){
    .stack{
      display:block;
    }
    .stack-item{
      justify-content: flex-start;
    }
}
/* @media screen and (max-width: 974px){
      .projects{
        display:block;
      }
} */