html {
  scroll-behavior: smooth;
}
.container{
  background-color: var(--main-bg-color);
  height: 100%;
  display:flex;
  flex-direction: column;
}

/*the welcome svg and paragraph*/
.landing-content{
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-grow: 1;
}
.component-name{
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  box-sizing: inherit;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 48px;
}
.hello-line{
  -webkit-font-smoothing: antialiased;
  color: #fff;
  box-sizing: inherit;
  margin: 0;
  font-size: 3.75rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.00833em;
  margin-bottom: 0.35em;
  padding-right: 20%;
}
.dev-line{
  -webkit-font-smoothing: antialiased;
  color: #fff;
  box-sizing: inherit;
  margin: 0;
  font-size: 2.158rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  margin-bottom: 0.35em;
}
.name-div{
  color: var(--name-landing-color);
  font-weight: bold;
}
.describe-line{
  font-size: 1.75rem;

}
svg{
  height:100vh;
  color: #fff;
  box-sizing: inherit;
  max-width: 90%;
}
@media screen and (max-width: 500px) {
  svg{
    display: none;
  }
  .component-name{
    padding: 2rem 1.5rem 1.5rem 2rem;
    height: 100vh;
  }
  .name-div{
    color: var(--smallscreen-name-color);
    font-weight: bold;
  }
  .describe-line{
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 384px) and (min-width: 100px){
  .icon{
    overflow: hidden;
    size: 1rem;
    margin: 1rem;
  }
}
/*color*/
#hair{
  fill:var(--hair-color)
}
#arm-hand, #body, #left-arm, #-arm-tablet{
  fill: var(--shirt-color)
}
#handNumber, #left-hand, #face{
  fill:var(--body-color)
}
#pants{
  fill:var(--pants-color)
} 
#tablet{
  fill:var(--pad-color)
}
#note-top1, #note-bottom2, #note-bottom1,#note-bottom0{
  fill: var(--paper-color)
}

/*animation*/
#tablet, #-arm-tablet, #left-hand,#left-arm{
  animation: shake 20s infinite;
}
#arm-hand, #note-top1,#note-bottom2, #note-bottom1,#note-bottom0{
  animation: paper-hand 10.85s infinite;
}
/*keyframes stuff*/
@keyframes paper-hand {
  50%{
    transform:rotate(-45deg) translate(-123px, 90px); 
    transform-origin: 0% 8%;
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*idk yet*/
:root {
  --main-bg-color: #343b3f;
  --selected-text-color: #212121;
  --selected-text-bg-color: #aadc39;
  --main-text-color: #fff;
  --calendar-text-color: #f5f5f5;
  --nav-footer-bg-color: rgba(37,37,37,0.98);
  --small-padding: 1rem;
  --med-margin: 1.2rem;
  --larg-padding:1.5rem;
  --twitter-brand: #1da1f2;
  --dull-white: #c5c4bf;
}